@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-yellow-900 font-header;
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }
    h3 {
        @apply text-2xl;
    }
    h4 {
        @apply text-xl;
    }
}

html,
body {
    height: 100%;

    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;

    font-size: 16px;
    line-height: 1.15;
    font-family: 'courier', Courier, monospace;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body > div {
    display: flex;
    flex-direction: column;

    height: 100%;
    background-color: #79cf90;
}
