@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Nunito';
        font-weight: 400;
        src: url('./assets/fonts/Nunito-Regular.ttf') format('ttf');
    }

    @font-face {
        font-family: 'Nunito';
        font-weight: 700;
        src: url('./assets/fonts/Nunito-Bold.ttf') format('ttf');
    }

    @font-face {
        font-family: 'Nunito';
        font-weight: 400;
        font-style: italic;
        src: url('./assets/fonts/Nunito-Italic.ttf') format('ttf');
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-header;
        font-weight: bold;
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }
    h3 {
        @apply text-2xl;
    }
    h4 {
        @apply text-xl;
    }

    html,
    body {
        height: 100%;

        margin: 0;
        padding: 0;
    }

    body {
        overflow-x: hidden;

        font-size: 16px;
        line-height: 1.45;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body > div {
        display: flex;
        flex-direction: column;
        height: 100%;

        background-color: #79cf90;
    }

}